.sidebar-item-container.quick-link-item {
	position: relative;
}

/* Remove any visual indicator for selected quick links in workspace sidebar */
.sidebar-item-container.quick-link-item .standard-sidebar-item.selected {
	background-color: transparent;
}

.sidebar-item-container.quick-link-item .standard-sidebar-item.selected::before {
	display: none;
}

.show-hidden-workspaces .sidebar-item-container.quick-link-item {
	background: linear-gradient(90deg, rgba(var(--primary-color-rgb), 0.05) 0%, transparent 100%);
	border-left: 2px solid var(--primary-color);
	padding-left: 2px;
}

.layout-side-section {
	padding-right: 0px;
}
